body {
	background-color: #222;
	font-family: sans-serif;
	color: #FAFAFA;
}

a {
	color: #F00;
}
a:visited {
	color: #F0A;
}

.to_js {
	display: block;
}

.help {
	background-color: #000;
	border: 1px solid #FFF;
	font-weight: bold;
}