.calculator_body {
	border: 12px solid #cecece;
	width: 240px;
	background-color: #cecece;
}

.screen {
	background-color: #a8d1a8;
	color: #386138;
	height: 140px;
	position: relative;
}

button {
	background-color: #eeeeee;
	color: #333333;
	width: 40px;
	height: 40px;
	font-size: 20px;
}

#output {
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
}