#card {
    width: 600px;
    height: 400px;
    background-color: #FAFAFA;
    color: #000000;
    border-radius: 14px;
    justify-content: center;
}

#color {
    color: #FF0000;
}

.male {
    color: #4040ff;
}

.female {
    color: #ff59f7
}